In [10]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

In [11]:
# Reading in clean_measurment.csv and clean_station.csv
measurement = pd.read_csv("Raw_data/clean_hawaii_measurement.csv")
station = pd.read_csv("Raw_data/clean_hawaii_station.csv")

In [12]:
# Inspecting DataFrames
measurement.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [13]:
# Inspecting DataFrames
station

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [14]:
# Creating classes
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float(50))
    tobs = Column(Float(50))
    
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float(50))
    longitude = Column(Float(50))
    elevation = Column(Float(50))

In [15]:
# Creating Database Connection
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()

In [16]:
# Create tables
Base.metadata.create_all(engine)
engine.table_names()

['measurement', 'station']

In [17]:
# Creating a session
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [19]:
# Adding measurement data
measurement.to_sql(name='measurement', con=conn, if_exists='append', index=False))

In [20]:

# Adding station data
station.to_sql(name='station', con=conn, if_exists='append', index=False)

In [25]:
# Query to check info
station_list = session.query(Station)
for station in station_list:
    print(station.__dict__)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10d0c2a90>, 'longitude': -157.8168, 'name': 'WAIKIKI 717.2, HI US', 'id': 1, 'elevation': 3.0, 'latitude': 21.2716, 'station': 'USC00519397'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10d0c2b00>, 'longitude': -157.8015, 'name': 'KANEOHE 838.1, HI US', 'id': 2, 'elevation': 14.6, 'latitude': 21.4234, 'station': 'USC00513117'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10d0c2b70>, 'longitude': -157.8374, 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'id': 3, 'elevation': 7.0, 'latitude': 21.5213, 'station': 'USC00514830'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10d0c2be0>, 'longitude': -157.9751, 'name': 'PEARL CITY, HI US', 'id': 4, 'elevation': 11.9, 'latitude': 21.3934, 'station': 'USC00517948'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10d0c2c50>, 'longitude': -158.0111, 'name': 'UPPER WAHIAWA 874.3, HI US', 'id': 5, 'elevation': 306.6, 'latitude': 21.4992, 'station': 'USC00518838'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10d0c2cc0>, 'longitude': -157.71139, 'name': 'WAIMANALO EXPERIMENTAL FARM, HI US', 'id': 6, 'elevation': 19.5, 'latitude': 21.33556, 'station': 'USC00519523'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10d0c2d30>, 'longitude': -157.84888999999995, 'name': 'WAIHEE 837.5, HI US', 'id': 7, 'elevation': 32.9, 'latitude': 21.45167, 'station': 'USC00519281'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10d0c2da0>, 'longitude': -157.9992, 'name': 'HONOLULU OBSERVATORY 702.2, HI US', 'id': 8, 'elevation': 0.9, 'latitude': 21.3152, 'station': 'USC00511918'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x10c7c2630>, 'longitude': -157.8025, 'name': 'MANOA LYON ARBO 785.2, HI US', 'id': 9, 'elevation': 152.4, 'latitude': 21.3331, 'station': 'USC00516128'}